.credit-denied-popup {
  width: 500px;
  padding: 60px 58px;
  padding-top: 54px;
  padding-left: 58px;

  background-color: $light-gray;
  border-radius: 4px;
}

.credit-denied-popup__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
}

.credit-denied-popup__description {
  max-width: 300px;
  margin: 0;

  color: $faded-black;
}

@media (max-width: $tablet-max-width) {
  .credit-denied-popup {
    width: auto;
    padding-left: 60px;
  }

  .credit-denied-popup__title {
    max-width: 370px;
  }
}

@media (max-width: $mobile-max-width) {
  .credit-denied-popup {
    padding-top: 33px;
    padding-right: 15px;
    padding-bottom: 33px;
    padding-left: 15px;
  }

  .credit-denied-popup__title {
    max-width: 220px;
    margin-bottom: 14px;

    font-size: 18px;
    line-height: 140%;
  }

  .credit-denied-popup__word-break {
    display: none;
  }
}
