.page-footer {
  flex-shrink: 0;
  flex-basis: auto;
  background-color: $light-gray;
}

.page-footer__wrapper {
  display: flex;
  align-items: flex-start;

  padding-top: 48px;
  padding-bottom: 60px;
}

.page-footer__contacts-navigation {
  margin-right: 6.84%;
}

.page-footer__phones-and-socials {
  flex-grow: 1;

  display: flex;
  align-items: flex-start;
}

.page-footer__phone-contacts {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-right: 80px / 613px * 100%;

  &--mobile {
    width: 196px;
    padding-top: 10px;
    padding-left: 29px;
  }

  &--base {
    width: 155px;
    padding-top: 9px;
    padding-left: 33px;
  }
}

.page-footer__phone {
  display: flex;
  margin-bottom: 1px;

  font-weight: 500;
  color: $black;
  white-space: nowrap;

  @include basic-hover;
  @include basic-active;
}

.page-footer__mobile-phone-icon {
  position: absolute;
  top: 12px;
  left: 0;
}

.page-footer__base-phone-icon {
  position: absolute;
  top: 12px;
  left: 0;
}

.page-footer__phone-description {
  margin: 0;

  font-size: 12px;
  line-height: 17px;
  font-style: normal;
  color: $faded-gray;
}

.page-footer__socials {
  padding-top: 12px;
}

@media (max-width: $desktop-text-wrap-max-width) {
  .page-footer__phone-contacts {
    &--mobile {
      margin-right: 20px;
    }
  }

  .page-footer__socials {
    margin-left: auto;
  }
}

@media (max-width: $tablet-max-width) {
  .page-footer__contacts-navigation {
    margin-right: 15.045%;
  }

  .page-footer__phones-and-socials {
    flex-direction: column;
  }

  .page-footer__phone-contacts {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .page-footer__socials {
    margin-left: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer__wrapper {
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 29px;
  }

  .page-footer__contacts-navigation {
    margin-right: 0;
  }

  .page-footer__phone-contacts {
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 7px;
    }
  }

  .page-footer__phone {
    margin-bottom: 0;
  }
}

